@import url(//fonts.googleapis.com/css2?family=Roboto);

* {
  box-sizing: border-box;
}

*,
body {
  margin: 0px;
  padding: 0px;
}

body {
  color: #fff;
  background-color: #000;
  transition: background-color 1s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  padding: 4px 0px;
}

p,
a {
  color: #fff;
  padding: 4px 0px;
  text-decoration: none;
}

.typography-headline1 {
  font-family: "Roboto";
  font-size: 96px;
  font-weight: 700;
}

.typography-headline2 {
  font-family: "Roboto";
  font-size: 60px;
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .typography-headline2 {
    font-family: "Roboto";
    font-size: 7.5vw;
    font-weight: 700;
  }
}

.typography-headline3 {
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .typography-headline3 {
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
}

.typography-headline4 {
  font-family: "Roboto";
  font-size: 34px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .typography-headline4 {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 400;
  }
}

.typography-headline5 {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
}

.typography-headline6 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  padding: 4px 0px;
}
.typography-subtitle1 {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
}
.typography-subtitle2 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  padding: 4px 0px;
}
.typography-body1 {
  font-family: "Roboto";
  font-size: 24px;
}
.typography-body2 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
}
.typography-button {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.color-dark-primary {
  color: #ffffff;
}

.color-dark-secondary {
  color: #ffffff54;
}

.color-dark-tertiary {
  color: #ffffff38;
}

.color-dark-quaternary {
  color: #ffffff12;
}

.color-light-primary {
  color: #000000;
}

.color-light-secondary {
  color: #00000054;
}

.color-light-tertiary {
  color: #00000012;
}

.color-light-tertiary {
  color: #00000012;
}

.color-primary-default {
  color: blue;
}

.tab {
  margin-left: 2.5em;
}

@media screen and (max-width: 767px) {
  .tab {
    margin-left: 1em;
  }
}

/* The navigation bar */
.main-nav {
  position: fixed;
  margin: 16px 96px;
  top: 0;
}

@media screen and (max-width: 767px) {
  .main-nav {
    position: fixed;
    margin: 16px 48px;
    top: 0;
  }
}

/* Links inside the navbar */
.main-nav a {
  color: #ffffff;
  text-align: left;
  text-decoration: none;
}

/* Main content */
.main {
  margin: 48px 24px;
  margin-top: 96px; /* Add a top margin to avoid content overlay */
}

/* Use a media query to add a breakpoint at 767px: */
@media screen and (max-width: 767px) {
  .main {
    margin: 96px 24px;
    margin-top: 48px; /* Add a top margin to avoid content overlay */
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 24px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 12px 0px;
    width: 100%;
  }
}

.container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

@media screen and (max-width: 767px) {
  .container img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
  }
}

.container-title-default {
  float: left;
  width: 100%;
  padding: 48px;
}

@media screen and (max-width: 767px) {
  .container-title-default {
    float: left;
    width: 100%;
    padding: 24px;
  }
}

.container-title-left {
  position: absolute;
  top: 50%;
  padding: 48px;
  transform: translate(0%, -50%);
  width: 100%;
}

@media screen and (max-width: 767px) {
  .container-title-left {
    position: absolute;
    top: 0%;
    left: 0px;
    padding: 24px;
    transform: translate(0%, 0%);
    width: 100%;
  }
}

/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* colors */
.color-violet {
  background-color: #7a4eab;
}
.color-indigo {
  background-color: #4332cf;
}
.color-blue {
  background-color: #2f8fed;
}
.color-green {
  background-color: #4dcf42;
}
.color-yellow {
  background-color: #faeb33;
}
.color-orange {
  background-color: #f19031;
}
.color-red {
  background-color: #f2293a;
}
.color-black {
  background-color: #000;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #1c1c1e;
  width: 100%;
  height: 92%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

body.modal-open {
  position: absolute;
  overflow-y: hidden;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 16px;
  background-color: #1c1c1e;
  color: white;
  border-radius: 12px;
}

.modal-body {
  padding: 16px;
}

.modal-footer {
  padding: 16px;
  background-color: #1c1c1e;
  color: white;
}

#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
