@import url(//fonts.googleapis.com/css2?family=Roboto);

* {
  box-sizing: border-box;
}

*,
body {
  margin: 0px;
  padding: 0px;
}

body {
  color: #fff;
  background-color: #000;
  transition: background-color 1s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 4px 0px;
  text-decoration: none;
}

p,
a {
  text-decoration: none;
  cursor: pointer;
}

.typography-headline1 {
  font-family: "Roboto";
  font-size: 96px;
  font-weight: 700;
}

.typography-headline2 {
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 700;
}

@media screen and (max-width: 940px) {
  .typography-headline2 {
    font-family: "Roboto";
    font-size: 6.5vw;
    font-weight: 700;
  }
}

.typography-headline3 {
  font-family: "Roboto";
  font-size: 48px;
  margin-bottom: 0px;
  font-weight: 700;
}

@media screen and (max-width: 940px) {
  .typography-headline3 {
    font-family: "Roboto";
    font-size: 28px;
    margin-bottom: 0px;
    font-weight: 700;
  }
}

.typography-headline4 {
  font-family: "Roboto";
  font-size: 34px;
  margin-bottom: 0px;
  font-weight: 400;
}

@media screen and (max-width: 940px) {
  .typography-headline4 {
    font-family: "Roboto";
    font-size: 24px;
    margin-bottom: 0px;
    font-weight: 400;
  }
}

.typography-headline5 {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
}

.typography-headline6 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  padding: 4px 0px;
}
.typography-subtitle1 {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
}
.typography-subtitle2 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  padding: 4px 0px;
}
.typography-body1 {
  font-family: "Roboto";
  font-size: 24px;
}
.typography-body2 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
}
.typography-button {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.color-dark-primary {
  color: #ffffff;
}

.color-dark-secondary {
  color: #ffffff54;
}

.color-dark-tertiary {
  color: #ffffff38;
}

.color-dark-quaternary {
  color: #ffffff12;
}

.color-light-primary {
  color: #000000;
}

.color-light-secondary {
  color: #00000054;
}

.color-light-tertiary {
  color: #00000038;
}

.color-light-quaternary {
  color: #00000012;
}

.color-primary-default {
  color: blue;
}

.tab {
  margin-left: 2.5em;
}

@media screen and (max-width: 767px) {
  .tab {
    margin-left: 0.5em;
  }
}

/* The navigation bar */
.main-nav {
  position: fixed;
  margin: 16px 96px;
  top: 0;
}

@media screen and (max-width: 767px) {
  .main-nav {
    position: fixed;
    margin: 16px 48px;
    top: 0;
  }
}

/* Links inside the navbar */
.main-nav a {
  color: #ffffff;
  text-align: left;
  text-decoration: none;
  padding: 4px 0px;
  margin-bottom: 0px;
}

/* Main content */
.main {
  margin: 24px;
  margin-top: 96px; /* Add a top margin to avoid content overlay */
}

/* Use a media query to add a breakpoint at 767px: */
@media screen and (max-width: 767px) {
  .main {
    margin: px 24px;
    margin-top: 48px; /* Add a top margin to avoid content overlay */
  }
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 24px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 12px 0px;
    width: 100%;
  }
}

.container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .container img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
  }
}

.container-title-default {
  float: left;
  width: 100%;
  padding: 48px;
}

@media screen and (max-width: 800px) {
  .container-title-default {
    float: left;
    width: 100%;
    padding: 24px;
  }
}

.container-title-left {
  position: absolute;
  top: 50%;
  left: 48px;
  padding-right: 50%;
  transform: translate(0%, -50%);
}

@media screen and (max-width: 767px) {
  .container-title-left {
    position: absolute;
    top: 0%;
    left: 24px;
    padding-top: 24px;
    padding-right: 24px;
    transform: translate(0%, 0%);
  }
}

/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* colors */
.color-now {
  background-color: #78d64b;
}
.color-magellan {
  background-color: #4332cf;
}
.color-smartlocker {
  background-color: #ebe9f5;
}
.color-space {
  background-color: #3055e7;
}
.color-farmsuk {
  background-color: #698348;
}
.color-pobmor {
  background-color: #fae2e3;
}
.color-black {
  background-color: #000;
}

.gallery-block {
  padding: 48px 0px;
  padding-bottom: 0px;
  border-radius: 16px 16px 0px 0px;
  margin-top: 128px;
}
